body {
  background-color: var(--blue-100);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

img {
  width: 500px;
  border-right: 2px solid var(--blue-400);
}