:root {
  --blue-100: #cee4ef;
}

body {
  background-color: var(--blue-100);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

img {
  width: 500px;
}